<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My_FB</title>
	</head>
	<body>
		<div class="reg">
			<form class="reg_form">
				<label for="child_name"><b>Child Name</b></label>
    			<input type="text" placeholder="Child Name" name="Child Name" required>

    			<label for="address"><b>Address</b></label>
    			<input type="text" placeholder="Address" name="Address" required>

    			<label for="Age"><b>Age</b></label>
    			<input type="text" placeholder="Age" name="Age" required>
    			
    			<label for="Gift"><b>Gift</b></label>
    			<input type="text" placeholder="Gift" name="Gift" required>

    			<button type="submit" class="registerbtn">Register</button>
			</form>
		</div>
	</body>
</html>
